/*ESTILOS COOKIE BANNER GDPR PLUGIN*/

.gdpr.gdpr-privacy-bar .gdpr-agreement{

	background: #fc601f; /*COLOR DEL BOTÓN*/
  border-color: #fc601f #fc601f #fc601f; /*COLOR DEL BORDE DEL BOTÓN*/
	text-shadow: 0 -1px 1px #fc601f, 1px 0 1px #fc601f, 0 1px 1px #fc601f, -1px 0 1px #fc601f;  /*AÑADIR SOMBREADO AL TEXTO DEL BOTÓN*/
  padding: 10px; /*PADDING DEL TEXTO DEL BOTÓN*/
}

.gdpr.gdpr-privacy-bar .gdpr-agreement:hover {
    background: #fc601f; /*COLOR AL HACER HOVER EN EL BOTÓN*/
    border-color: #fc601f; /*COLOR DEL BORDE AL HACER HOVER EN EL BOTÓN*/
}

.gdpr.gdpr-privacy-bar .gdpr-agreement::before{
  display: none; /*QUITAMOS EL CHECK QUE APARECE EN LA PARTE IZQUIERDA DEL BOTÓN*/
}

.gdpr.gdpr-privacy-bar .gdpr-wrapper .gdpr-right .gdpr-buttons button.gdpr-preferences::before{
	display:none; /*QUITAMOS LA FLECHITA DE LA IZQUIERDA*/
}

.gdpr.gdpr-privacy-bar .gdpr-wrapper p {
    line-height: 15px; /*REDUCIMOS EL INTERLINEADO*/
}

/*EN PANTALLAS PEQUEÑAS*/

@media only screen and (max-width:1000px){
	.gdpr.gdpr-privacy-bar .gdpr-wrapper .gdpr-right {
    flex-direction: unset;
    margin-top: -20px; /*PARA QUE NO QUEDE TANTO ESPACIO VACÍO EN MÓVILES*/
}
	
	.gdpr.gdpr-privacy-bar .gdpr-wrapper{
	  padding: 10px 10px;
}
}

/*EN PANTALLAS GRANDES*/

@media only screen and (min-width:1000px){
	
  .gdpr.gdpr-privacy-bar .gdpr-wrapper{
	  padding: 20px 40px;
}
}


/*MÁRGENES INFERIORES TEXTO*/

@media (max-width:1000px) and (min-width:676px){
	.gdpr.gdpr-privacy-bar .gdpr-wrapper p  {
	margin-bottom: 20px;
}
}

@media (max-width:676px){
	.gdpr.gdpr-privacy-bar .gdpr-wrapper p  {
	margin-bottom: 10px;
}
}

/*ACTUALIZACIÓN PLUGIN PARA QUE EL TEXTO Y EL BOTÓN ESTÉN EN LA MISMA LÍNEA*/

.gdpr-buttons {
    flex-direction: unset !important;
}

.gdpr.gdpr-privacy-bar .gdpr-wrapper .gdpr-content{
	padding: 0 0 10px 0;
}

