/*ESTILOS COOKIE BANNER GDPR PLUGIN*/

.gdpr.gdpr-privacy-bar .gdpr-agreement{

	background: #fc601f; /*COLOR DEL BOTÓN*/
  border-color: #fc601f #fc601f #fc601f; /*COLOR DEL BORDE DEL BOTÓN*/
	text-shadow: 0 -1px 1px #fc601f, 1px 0 1px #fc601f, 0 1px 1px #fc601f, -1px 0 1px #fc601f;
  padding: 10px; /*AÑADIR SOMBREADO AL TEXTO DEL BOTÓN*/
}

.gdpr.gdpr-privacy-bar .gdpr-agreement:hover {
    background: #fc601f; /*COLOR AL HACER HOVER EN EL BOTÓN*/
    border-color: #fc601f; /*COLOR DEL BORDE AL HACER HOVER EN EL BOTÓN*/
}

.gdpr.gdpr-privacy-bar .gdpr-agreement::before{
  display: none; /*QUITAMOS EL CHECK QUE APARECE EN LA PARTE IZQUIERDA DEL BOTÓN*/
}

.gdpr.gdpr-privacy-bar .gdpr-wrapper .gdpr-content {
    padding-bottom: 0px;
}

.gdpr.gdpr-privacy-bar .gdpr-wrapper .gdpr-right {
    flex-direction: unset;
}

.gdpr.gdpr-privacy-bar .gdpr-wrapper p {
    line-height: 15px;
}

.gdpr.gdpr-privacy-bar .gdpr-wrapper .gdpr-content {
    padding-bottom: 0px;
}

/*EN PANTALLAS PEQUEÑAS*/

@media (max-width:1000px){
	.gdpr.gdpr-privacy-bar .gdpr-wrapper .gdpr-right {
    flex-direction: unset;
    margin-top: -20px;
}
	
	.gdpr.gdpr-privacy-bar .gdpr-wrapper{
	  padding: 20px 20px;
}
	
  .gdpr.gdpr-privacy-bar .gdpr-wrapper p  {
	margin-bottom: 30px;
}
	
	.gdpr.gdpr-privacy-bar{
	background: rgba(0,0,0,0.7);
}
}

/*EN PANTALLAS GRANDES*/

@media (min-width:1000px){
	.gdpr.gdpr-privacy-bar .gdpr-wrapper p {
	  margin-bottom: 0px;
}
	
  .gdpr.gdpr-privacy-bar .gdpr-wrapper{
	  padding: 20px 40px;
}
}
